
$background-color: #fefefe;
$font-color: #4e4e4e;
$font-gray: #e5e5e5;
$arsenic-button: rgb(54, 66, 78);
$blue-gray-body: rgb(186, 206, 230);
// color palette from: https://www.colorion.co/palette/11515
$white: rgb(249, 252, 254); // #f9fcfe
$cornflower-blue: rgb(131, 153, 246); // #8399f6
$darkslate-blue: rgb(52, 73, 94); // #34495e
$gainsboro: rgb(213, 221, 228); // bluegray-#d5dde4
$bright-ugly-color: rgb(255, 105, 180)
//end color palette

/// Slightly lighten a color
// /// @access public
// /// @param {Color} $color - color to tint
// /// @param {Number} $percentage - percentage of `$color` in returned color
// /// @return {Color}
// @function tint($color, $percentage) {
//   @return mix(#fff, $color, $percentage);
// }
//
// /// Slightly darken a color
// /// @access public
// /// @param {Color} $color - color to shade
// /// @param {Number} $percentage - percentage of `$color` in returned color
// /// @return {Color}
// @function shade($color, $percentage) {
//   @return mix(black, $color, $percentage);
// }
