$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'colors';
@import 'table';
@import 'grid';
@import 'theme';

.color-white {
    color: #fff;
    font-size: 30px;
}
