.board table {
  background-color: $cornflower-blue;
  border: 6px solid $darkslate-blue;
  border-collapse: separate; // sets whether table borders should collapse into a single border or be separated as in standard HTML
  border-radius: 10px;
  box-sizing: border-box;
  float: right;
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 30px, auto, 30px;
  width: 90%;
}

tr {
  align-items: center;
  border: 6px solid $gainsboro;
  box-sizing: border-box;
  border-radius: 12px;
}

.board td {
  align-items: center;
  border: 6px solid $gainsboro;
  border-radius: 12px;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 4em;
  font-weight: bold;
  height: 100px;
  justify-content: center;
  padding: 5px;
  text-align: center;
  width: 100px;
}







// Source grid code: https://codepen.io/shammadahmed/pen/JOWEGW  */
// .game-board {
//   background-color: $cornflower-blue;
//   border: 6px solid $darkslate-blue;
//   border-radius: 10px;
//   color: $white;
//   display: grid;
//   grid-template: repeat(3, 1fr) / repeat(3, 1fr);
//   height: 600px;
//   margin: 0 auto;
//   width: 600px;
//   }
//
// .box {
//   align-items: center;
//   border: 6px solid $gainsboro;
//   border-radius: 2px;
//   display: flex;
//   font-family: Helvetica;
//   font-size: 4em;
//   font-weight: bold;
//   justify-content: center;
//   }